:root {
  --sidenav-bg-light: #111; /* Light mode background color */
  --sidenav-bg-dark: #333;  /* Dark mode background color */
  --link-color-light: #818181;
  --link-color-dark: #f1f1f1;
}

body {
  /* Detecting dark mode using the prefers-color-scheme media query */
  background-color: var(--sidenav-bg-light);
  color: var(--link-color-light);
}

.sidenav {
  height: 100%; /* Full height */
  width: 0; /* Default width is 0 */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--sidenav-bg-light); /* Set to light mode background */
  color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Content spacing */
  transition: width 0.5s ease, background-color 0.3s ease; /* Smooth transition for width and background color */
}

/* Dark mode media query */
@media (prefers-color-scheme: dark) {
  .sidenav {
    background-color: var(--sidenav-bg-dark); /* Change to dark mode background */
  }

  .sidenav a {
    color: var(--link-color-dark); /* Set dark mode link color */
  }

  .sidenav a:hover {
    color: #f1f1f1; /* Light color on hover */
  }
}

.sidenav.open {
  width: 250px; /* Open width */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--link-color-light); /* Default link color */
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.removeButton {
  border-radius: 25px;
}
