.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);
    background-color: rgba(255, 255, 255, 1 );
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
  width: clamp(300px, 80vw, 1200px);
  display: flex; /* Enable Flexbox */
  flex-direction: row; /* Horizontal layout */
  justify-content: space-between; /* Evenly distribute columns */
  gap: 20px; /* Optional spacing between columns */
  flex-wrap: wrap;
}

.firstColumn, .secondColumn, .thirdColumn {
  flex: 1; /* Each column takes equal space */
  padding: 10px; /* Add some padding */
  box-sizing: border-box; /* Include padding in width */
}

.firstColumn {
  flex-basis: 30%; /* 30% of container width */
}

.secondColumn {
  flex-basis: 40%; /* 40% of container width */
}

.thirdColumn {
  flex-basis: 30%; /* 30% of container width */
}

  
.button {
    margin-top: 20px;
    border-radius: 10px;
  }

  .centerButton {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    width: 100%; /* Ensure it stretches across the available space */
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column; /* Stack columns */
    }
  
    .firstColumn, .secondColumn, .thirdColumn {
      flex-basis: 100%; /* Full width columns on mobile */
    }
  }